
:root {
	--dark-blue: #0d1b2a;
	--light-black: #1b263b;
	--medium-grey: #6b705c;
	--light-grey: #778da9;
	--cream-white: #e0e1dd;
}

.sidebar {
    flex: 1 1 auto;
    overflow: auto;
    max-width: 30%;
    background-color: var(--cream-white);
    max-height: 1100px;
  }

  .sidebar > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

