* {
 
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

header {
  padding: 1rem 0;
  text-align: center;
}

#root > div{
  flex: 1 1 auto;
}

